@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Libre+Baskerville:wght@400;700&display=swap');

/*
  VARIABLES DECLARATION ON ROOT
*/
:root {
  --charcoal: #333;
}


/*
  GLOBAL STYLES
*/
* {
  margin: 0;
  padding: 0;
}

/*
  MAIN CONTAINER
*/
.card-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

/*
  IMAGE SECTION
*/
.img-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100%;
  background-color: #FFF;
  color: var(--charcoal);
  font-size: 16px;
}

.text-logo {
  font-family: 'Libre-Baskerville', serif;
  font-size: 4rem;
  font-weight: 700;
  padding: 1rem;
}

.img-container > img {
  height: 100%;
}

.copy-text {
  font-family: 'Libre-Baskerville', serif;
  font-weight: 400;
  font-size: 1.5rem;
  padding: 1rem 2rem 4rem;
  text-align: center;
}

/*
  FORM SECTION
*/
.form-container {
  background-color: rgb(34, 34, 34);
}

h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}