@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

/*
  VARIABLES DECLARATION ON ROOT
*/
:root {
  --charcoal: #333;
  --ash: rgb(211, 211, 211);
  --light-ash: rgb(211, 211, 211, .5);
  --error-red: rgb(175, 51, 10);
}


/*
  GLOBAL STYLES
*/
* {
  margin: 0;
  padding: 0;
  font-family: 'Libre Baskerville', serif;
}

/*
  MAIN CONTAINER
*/
.card-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
  font-size: 16px;
}

/*
  IMAGE SECTION
*/
.img-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100%;
  background-color: #FFF;
  color: var(--charcoal);

}

.text-logo {
  font-size: 3rem;
  font-weight: 700;
  padding: 1rem;
}

.img-container > img {
  height: 100%;
}

.copy-text {
  font-weight: 400;
  font-size: 1.5rem;
  padding: 1rem 2rem 4rem;
  text-align: center;
}

/*
  FORM SECTION
*/
.form-container {
  background-color: var(--charcoal);
  color: var(--ash);
  padding: 1rem 4rem;
  width: 100%;
  text-align: left;
}

.form-title {
  font-style: italic;
  font-weight: 400;
  font-size: 2.5rem;
  margin-top: 8rem;
}

.form-group {
  position: relative;
  margin: 3.5rem 0rem;
}

.thankyou {
  margin-top: 1rem;
}

/*
  FORM INPUTS
*/
label {
  position: absolute;
  left: 0;
  top: 0;
  transition: transform 225ms ease-out;
}

.focused label {
  transform: translateY(-125%);
  color: var(--light-ash);
}

input {
  background-color: var(--charcoal);
  border: 0;
  border-bottom: thin solid var(--ash);
  color: var(--ash);
  font-size: 1rem;
}

button.form-submit {
  background-color: var(--ash);
  border: none;
  padding: 1rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}

/*
  FORM VALIDATION STYLING
*/
div.error input {
  border-bottom: thin solid var(--error-red);
}

.error-msg {
  padding-top: .5rem;
  color: var(--error-red);
  font-style: italic;
}


